@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: pink;
    color: white;
}

header{
    background-color: brown;
    color: black;
    text-align: center;
    box-shadow: 0px 1px 2px 0px hsl(330, 100%, 50%);
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

nav ul li{
    display: flex inline;
    padding: 12px;
}

nav ul li a:hover{
    color: white;
}

.container{
    padding: 15px;
    border-radius: 8px;
    border: solid yellow 1px;
    margin: 2vh 2%;
    background-color: hsl(330, 100%, 50%);
    box-shadow: 0px 2px 2px 0px yellow;
}

.container h2{
    color: black;
}

.container ol li{
    margin: 0 20px;
}

.qualidades{
    align-self: center;
    padding: 4%;
    width: 90%;
    background: hsl(330, 100%, 70%);
    border-radius: 3px;
    overflow-x:auto;
    display: flex inline;
    gap: 15px;
}

.qualidade{
    border-radius: 3px;
    background-color: hsl(330, 100%, 80%);
    border: solid 0.3px hsl(330, 100%, 50%);
    box-shadow: 0px 2px 2px 0px hsl(330, 100%, 50%);
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.qualidade b{
    font-family: Momo Signature;
}